.TrailLines {
  position: relative;

  mask-size: var(--trail-lines-width, auto) var(--trail-lines-height, auto);
  mask-position: top right;
  mask-image: linear-gradient(-90deg, rgba(0, 0, 0, 1) 80%, transparent);

  -webkit-mask-size: var(--trail-lines-width, auto) var(--trail-lines-height, auto);
  -webkit-mask-position: top right;
  -webkit-mask-image: linear-gradient(-90deg, rgba(0, 0, 0, 1) 80%, transparent);
}

.TrailLines canvas {
  display: block;
  max-width: var(--trail-lines-width, auto);
}

.TrailLines canvas:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
}
